.tab-bar {
    margin-bottom: 18px;
}

hr {
    border: solid #e4e4e4;
    border-width: 5px 0 0;
    margin: 1.25rem 0 2.1875rem;
}

.page-wrapper {
    background-color: #fff;
    max-width: 960px;
    margin-bottom: 50px;
    padding: 0 30px;

    @media #{$small-only} {
        padding: 0 15px;
    }
}

.page-hero-image {
    margin-bottom: 30px;
}

.page-content {
    border-right: 5px solid #e4e4e4;
    margin-bottom: 30px;
    padding-right: 60px;

    @media #{$small-only} {
        border-right: none;
        padding-right: 20px;
        margin-bottom: 10px;
    }
}

#sidebar {
    padding-left: 30px;
}

.entry-content {

    img {
            margin-bottom: 30px;
    }
}

.testimonial-book-images {
    border: 1px solid #333333;
    margin-right: 10px;
    margin-bottom: 0px !important;
}
