.testimonials-widget-testimonial {
    margin-bottom: 30px;
}
blockquote {
    color: #666666;
    border-left: none;
    padding: 0;
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.testimonials-widget-testimonial div.credit {
    text-align: left;
}

.credit:before, .author, .job-title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #666666;
    line-height: 20px;
    text-align: left;
}
